# Exploring Hacker News Posts
## Goal: Analayze the data and answer the following 2 questions
- Do Ask HN or Show HN receive more comments on average?
- Do posts created at a certain time receive more comments on average?

### Printing first few rows of the dataset

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
directory = 'C:/Personal Projects/Dataquest/Python Project/Hackers News/'
df = pd.read_csv(directory + 'HN_posts_year_to_Sep_26_2016.csv')
df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14

In [3]:
df.tail()

,id,title,url,num_points,num_comments,author,created_at
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02
293115,10176917,Attention and awareness in stage magic: turnin...,http://people.cs.uchicago.edu/~luitien/nrn2473...,14,0,stakent,9/6/2015 6:01
293116,10176908,Dying vets fuck you letter (2013),http://dangerousminds.net/comments/dying_vets_...,10,2,mycodebreaks,9/6/2015 5:56
293117,10176907,"PHP 7 Coolest Features: Space Ships, Type Hint...",https://www.zend.com/en/resources/php-7,2,0,Garbage,9/6/2015 5:55
293118,10176903,Toyota Establishes Research Centers with MIT a...,http://newsroom.toyota.co.jp/en/detail/9233109/,4,0,tim_sw,9/6/2015 5:50

## Data exploration

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293119 entries, 0 to 293118
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            293119 non-null  int64
 1   title         293119 non-null  object
 2   url           279256 non-null  object
 3   num_points    293119 non-null  int64
 4   num_comments  293119 non-null  int64
 5   author        293119 non-null  object
 6   created_at    293119 non-null  object
dtypes: int64(3), object(4)
memory usage: 15.7+ MB

In [5]:
df.describe(include='O')

,title,url,author,created_at
count,293119,279256,293119,293119
unique,269452,247602,51900,215563
top,On the reception and detection of pseudo-profo...,http://www.aioptify.com/topmldmbooks.php?utm_s...,jonbaer,4/9/2016 22:40
freq,15,22,2731,11

In [6]:
df.dtypes

id               int64
title           object
url             object
num_points       int64
num_comments     int64
author          object
created_at      object
dtype: object

In [7]:
df.shape

(293119, 7)

In [8]:
df.columns

Index(['id', 'title', 'url', 'num_points', 'num_comments', 'author',
       'created_at'],
      dtype='object')

In [9]:
ask = df[df.title.str.lower().str.startswith('ask hn')]

In [10]:
show = df[df.title.str.lower().str.startswith('show hn')]

In [11]:
askhn = df.title.str.lower().str.startswith('ask hn')
showhn = df.title.str.lower().str.startswith('show hn')

boolean = askhn & showhn

other = df[~boolean]

In [12]:
ask.head()

,id,title,url,num_points,num_comments,author,created_at
10,12578908,Ask HN: What TLD do you use for local developm...,NaN,4,7,Sevrene,9/26/2016 2:53
42,12578522,Ask HN: How do you pass on your work when you ...,NaN,6,3,PascLeRasc,9/26/2016 1:17
76,12577908,Ask HN: How a DNS problem can be limited to a ...,NaN,1,0,kuon,9/25/2016 22:57
80,12577870,Ask HN: Why join a fund when you can be an angel?,NaN,1,3,anthony_james,9/25/2016 22:48
102,12577647,Ask HN: Someone uses stock trading as passive ...,NaN,5,2,00taffe,9/25/2016 21:50

In [13]:
show.head()

,id,title,url,num_points,num_comments,author,created_at
52,12578335,Show HN: Finding puns computationally,http://puns.samueltaylor.org/,2,0,saamm,9/26/2016 0:36
58,12578182,Show HN: A simple library for complicated anim...,https://christinecha.github.io/choreographer-js/,1,0,christinecha,9/26/2016 0:01
64,12578098,Show HN: WebGL visualization of DNA sequences,http://grondilu.github.io/dna.html,1,0,grondilu,9/25/2016 23:44
70,12577991,"Show HN: Pomodoro-centric, heirarchical projec...",https://github.com/jakebian/zeal,2,0,dbranes,9/25/2016 23:17
140,12577142,Show HN: Jumble Essays on the go #PaulInYourP...,https://itunes.apple.com/us/app/jumble-find-st...,1,1,ryderj,9/25/2016 20:06

In [14]:
other.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14

## Data Analysis

### Calculating the average number of comments for Ask and Show posts

In [15]:
ask

,id,title,url,num_points,num_comments,author,created_at
10,12578908,Ask HN: What TLD do you use for local developm...,NaN,4,7,Sevrene,9/26/2016 2:53
42,12578522,Ask HN: How do you pass on your work when you ...,NaN,6,3,PascLeRasc,9/26/2016 1:17
76,12577908,Ask HN: How a DNS problem can be limited to a ...,NaN,1,0,kuon,9/25/2016 22:57
80,12577870,Ask HN: Why join a fund when you can be an angel?,NaN,1,3,anthony_james,9/25/2016 22:48
102,12577647,Ask HN: Someone uses stock trading as passive ...,NaN,5,2,00taffe,9/25/2016 21:50
...,...,...,...,...,...,...,...
293047,10177359,Ask HN: Is coursera specialization in product ...,NaN,1,0,pipipzz,9/6/2015 11:27
293052,10177317,Ask HN: Any meteor devs out there who could sp...,NaN,2,1,louisswiss,9/6/2015 10:52
293055,10177309,Ask HN: Any recommendations for books about ra...,NaN,2,4,rationalthrowa,9/6/2015 10:46
293073,10177200,Ask HN: Where do you look for work if you need...,NaN,14,20,coroutines,9/6/2015 9:36
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02

In [16]:
total_ask_comments = ask.num_comments.sum()

In [17]:
total_ask_comments

94986

In [18]:
 avg_ask_comments = total_ask_comments // ask.shape[0]

In [19]:
avg_ask_comments

10

In [20]:
total_show_comments = show.num_comments.sum()

In [21]:
total_show_comments

49633

In [22]:
avg_show_comments = total_show_comments // show.shape[0]

In [23]:
avg_show_comments

4

- It looks like ask posts tend to receive more comments on average. However, there are more ask posts than show posts

In [24]:
ask

,id,title,url,num_points,num_comments,author,created_at
10,12578908,Ask HN: What TLD do you use for local developm...,NaN,4,7,Sevrene,9/26/2016 2:53
42,12578522,Ask HN: How do you pass on your work when you ...,NaN,6,3,PascLeRasc,9/26/2016 1:17
76,12577908,Ask HN: How a DNS problem can be limited to a ...,NaN,1,0,kuon,9/25/2016 22:57
80,12577870,Ask HN: Why join a fund when you can be an angel?,NaN,1,3,anthony_james,9/25/2016 22:48
102,12577647,Ask HN: Someone uses stock trading as passive ...,NaN,5,2,00taffe,9/25/2016 21:50
...,...,...,...,...,...,...,...
293047,10177359,Ask HN: Is coursera specialization in product ...,NaN,1,0,pipipzz,9/6/2015 11:27
293052,10177317,Ask HN: Any meteor devs out there who could sp...,NaN,2,1,louisswiss,9/6/2015 10:52
293055,10177309,Ask HN: Any recommendations for books about ra...,NaN,2,4,rationalthrowa,9/6/2015 10:46
293073,10177200,Ask HN: Where do you look for work if you need...,NaN,14,20,coroutines,9/6/2015 9:36
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,9/6/2015 6:02

### Finding the Number of Ask Posts and Comments by Hour Created

In [25]:
ask.created_at = pd.to_datetime(ask.created_at)

C:\Users\andya\AppData\Local\Temp\ipykernel_14184\2475121389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask.created_at = pd.to_datetime(ask.created_at)

In [26]:
ask['created_hour'] = ask.created_at.dt.hour

C:\Users\andya\AppData\Local\Temp\ipykernel_14184\3512703078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask['created_hour'] = ask.created_at.dt.hour

In [27]:
ask

,id,title,url,num_points,num_comments,author,created_at,created_hour
10,12578908,Ask HN: What TLD do you use for local developm...,NaN,4,7,Sevrene,2016-09-26 02:53:00,2
42,12578522,Ask HN: How do you pass on your work when you ...,NaN,6,3,PascLeRasc,2016-09-26 01:17:00,1
76,12577908,Ask HN: How a DNS problem can be limited to a ...,NaN,1,0,kuon,2016-09-25 22:57:00,22
80,12577870,Ask HN: Why join a fund when you can be an angel?,NaN,1,3,anthony_james,2016-09-25 22:48:00,22
102,12577647,Ask HN: Someone uses stock trading as passive ...,NaN,5,2,00taffe,2016-09-25 21:50:00,21
...,...,...,...,...,...,...,...,...
293047,10177359,Ask HN: Is coursera specialization in product ...,NaN,1,0,pipipzz,2015-09-06 11:27:00,11
293052,10177317,Ask HN: Any meteor devs out there who could sp...,NaN,2,1,louisswiss,2015-09-06 10:52:00,10
293055,10177309,Ask HN: Any recommendations for books about ra...,NaN,2,4,rationalthrowa,2015-09-06 10:46:00,10
293073,10177200,Ask HN: Where do you look for work if you need...,NaN,14,20,coroutines,2015-09-06 09:36:00,9
293114,10176919,Ask HN: What is/are your favorite quote(s)?,NaN,15,20,kumarski,2015-09-06 06:02:00,6

In [28]:
num_posts_by_hour = ask.groupby('created_hour')['title'].count()

In [29]:
num_commts_by_hour = ask.groupby('created_hour')['num_comments'].sum()

### Average Number of Comments for Ask HN Posts by Hour

In [30]:
num_posts_by_hour

created_hour
0     301
1     282
2     269
3     271
4     243
5     209
6     234
7     226
8     257
9     222
10    282
11    312
12    342
13    444
14    513
15    646
16    579
17    587
18    614
19    552
20    510
21    518
22    383
23    343
Name: title, dtype: int64

In [31]:
num_commts_by_hour

created_hour
0      2277
1      2089
2      2996
3      2154
4      2360
5      1838
6      1587
7      1585
8      2362
9      1477
10     3013
11     2797
12     4234
13     7245
14     4972
15    18525
16     4466
17     5547
18     4877
19     3954
20     4462
21     4500
22     3372
23     2297
Name: num_comments, dtype: int64

In [32]:
avg_num_commts_by_hour = num_commts_by_hour // num_posts_by_hour
avg_num_commts_by_hour

created_hour
0      7
1      7
2     11
3      7
4      9
5      8
6      6
7      7
8      9
9      6
10    10
11     8
12    12
13    16
14     9
15    28
16     7
17     9
18     7
19     7
20     8
21     8
22     8
23     6
dtype: int64

In [33]:
avg_num_commts_by_hour.sort_values(ascending=False)[:5]

created_hour
15    28
13    16
12    12
2     11
10    10
dtype: int64

- According to the result, if one wants to receive more comments, then it's better to post at the time of 15, 13, 12, 2, 10

### Determine if show or ask posts receive more points on average

In [34]:
ask.num_points.sum() // ask.title.count()

11

In [35]:
show.num_points.sum() // show.title.count()

14

- With the fact that there was less show posts than ask posts, show posts received a lot more points in general.
- It is better to post show posts in order to receive more points

### Determine if posts created at a certain time are more likely to receive more points

In [36]:
show.created_at = pd.to_datetime(show.created_at)

C:\Users\andya\AppData\Local\Temp\ipykernel_14184\4134445054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show.created_at = pd.to_datetime(show.created_at)

In [37]:
show['created_hour'] = show.created_at.dt.hour

C:\Users\andya\AppData\Local\Temp\ipykernel_14184\2052239432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show['created_hour'] = show.created_at.dt.hour

In [41]:
show.groupby('created_hour')['num_points'].sum().sort_values(ascending=False)[:5]

created_hour
15    11657
16    11487
12    10787
17    10563
14    10503
Name: num_points, dtype: int64

- At the time of 15,16,12,17,14, it is more likely to receive more points